*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #111;
  min-width: 0;
  font-family: "Outfit", Arial, sans-serif;
  font-weight: 300;
}

html {
  overflow-x: hidden;
  height: 100%;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  text-decoration-skip-ink: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden auto;
  overflow-x: hidden;
  background: white;
}

body::selection {
  background-color: #18dc87;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.wrapper :is(a, .icon, button) {
  cursor: pointer;
}

.wrapper .icon {
  display: grid;
  place-items: center;
  will-change: filter;
  transition: filter 300ms;
}
.wrapper .icon:hover,
.wrapper a:hover {
  filter: drop-shadow(0 0 2em #94e9feaa);
}

.wrapper :where(a, span) {
  color: inherit;
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
}

.wrapper :where(input:hover, input:focus, textarea:hover, textarea:focus) {
  outline: none;
}

.wrapper :where(img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}

.wrapper :where(ul li) {
  list-style-type: none;
  display: list-item;
}

::-webkit-scrollbar {
  width: 3px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: #aaa;
}

::-webkit-scrollbar-thumb {
  background: #005958;
  border-radius: 1rem;
}
